<md-toolbar>
  <span class="title">About Don</span>
  <span class="filler"></span>
  <img [src]="photo" class="img-circle avatar" />
  <button md-icon-button [mdMenuTriggerFor]="menu"><md-icon>menu</md-icon></button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="logout()">Logout</button>
  </md-menu>
</md-toolbar>
<div class="container-fluid">
  <div *ngIf="!hasStarted" class="not-started">
    <h2 class="text-center">Please check back again later.</h2>
  </div>
  <div *ngIf="activeQuestion" class="question">
    <h1>{{ activeQuestion.question }}</h1>
    <div class="choices">
      <md-list>
        <md-list-item *ngFor="let choice of activeQuestion.choices">
          <button md-raised-button (click)="setChoice(choice)" color="{{activeChoice && choice.value == activeChoice.value ? 'primary' : ''}}">{{ choice.label }}</button>
        </md-list-item>
      </md-list>
    </div>
  </div>
  <div *ngIf="noQuestions" class="no-questions">
    <h2>There are no more questions left.</h2>
  </div>
</div>
<div class="projection" *ngIf="activeImage">
  <img [src]="activeImage" class="img-responsive" />
</div>
