.question {
  text-align: center;
  margin-top: 80px;
}
.no-questions {
  text-align: center;
  margin-top: 200px;
}

.not-started {
  margin-top: 200px;
}

.show-correct {
  .choice {
    color: #eee;

    &.correct {
      color: #00adef;
    }
  }
}

.projection {
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 50;
  text-align: center;

  img {
    margin: 0 auto;
    max-height: 100vh;
  }
}
