.container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
}
button {
  margin-bottom: 10px;
  margin-right: 5px;
  width: 100%;
  display: block;
}
.active {
  color: #00adef;
}
.gallery {
  margin-top: 20px;
  margin-bottom: 20px;

  .thumb {
    padding: 10px;
  }

  img {
    max-height: 200px;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;

  .overlay-content {
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;

    img {
      margin-bottom: 10px;
    }
  }
}
